# Copiez vers .env.production si besoin, ou modifiez .env.production à la racine.
# Swagger : https://dev-rusatravel.asdc-rdc.org/swagger/index.html

VITE_API_ORIGIN=https://dev-rusatravel.asdc-rdc.org
